
.ligne-img-bottom {
    position: absolute;
    width: 100vw;
    height: 15vh;
    bottom: 0px;
}

.ligne-img-top {
    position: absolute;
    width: 100vw;
    height: 15vh;
    top: 0px;
}

.component {
    height: 100%;
    width: 100%;
}

.component.about-component {
    background-color:#32ac45;
    color: #ffafec;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    position: relative;
}

@media only screen and (max-width: 475px) {
    .component.about-component .content-photos {
        display: none;
    }
}


.component.product-component {
    background-color: #ffafec;
    color: #32ac45;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    position: relative;
}

.component.contact-component {
    background-color:#5d7be1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    position: relative;
} 

footer {
    position: absolute;
    bottom: 5vh;
}
