.menu-class {
    display: flex;
    margin: 0;
    position: fixed;
    top: 0vh;
    width: 100%;
    height: max-content;
    font-family: 'Montserra', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.logo-class {
    display: flex;
    width: 20vw;
}

.menu-class > ul {
    display: flex;
    justify-content: flex-end; 
    width: 80vw;
}

.menu-class > ul > li {
    color: white;
    text-align: center;
    display: flex;
    list-style-type:none;
    width: max-content;
    padding: 0.1vh 1.5vw;
}

.menu-class li {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    cursor: pointer;
}

.menu-class li:hover {
    padding: 0.1vh 1.5vw;
    transition: 2s ease-in-out;
    cursor: pointer;
    animation: animation-hover 1s ease-in-out;
    -webkit-animation: animation-hover 1s ease-in-out;
}

@keyframes animation-hover {
    33% {
        transform: rotate(5deg);
    }

    66% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}